workflow.json
{
  "name": "Website Chat Widget - AI Assistant",
  "id": "DKfVfqHubRSwIGYT",
  "active": true,
  "nodes": [
    {
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-256, -64],
      "webhookId": "wheelsfeels-chat",
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! I'm Anton from WheelsFeels. How can I help you today?",
        "options": {
          "allowedOrigins": "http://localhost:8000,https://stage.wheelsfeels.com,https://wheelsfeels.com",
          "inputPlaceholder": "Type your question...",
          "loadPreviousSession": "memory",
          "showWelcomeScreen": false,
          "subtitle": "We're here to help you 24/7",
          "title": "Chat with WheelsFeels",
          "responseMode": "lastNode"
        }
      }
    },
    {
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [224, -112],
      "parameters": {
        "options": {
          "systemMessage": "=You are Anton, the AI Assistant for WheelsFeels.\n\n## Page Context Awareness\nThe metadata includes the page the customer is viewing:\n- Product: {{ $json.metadata?.productName || 'Not on product page' }}\n- Vehicle: {{ $json.metadata?.vehicleBrand && $json.metadata?.vehicleModel ? $json.metadata.vehicleBrand + ' ' + $json.metadata.vehicleModel : 'Unknown' }}\n- Page URL: {{ $json.metadata?.currentPageUrl || 'Unknown' }}\n\n### How to Use Page Context:\n1. **Use context silently** - Don't announce that you know what page they're on\n2. **For product questions** (dimensions, price, specs): Use the page context to answer directly\n3. **For greetings** (hi, hello): Respond normally without mentioning the product\n4. **Skip the year question** if vehicle info is in metadata\n5. **Still ask for name and email** as usual (business requirement)\n\n## Goals\n- Ask for visitor's name and vehicle if not already provided\n- If visitor asks about a vehicle or product:\n   - Use the Product Lookup Tool to find matching products\n   - If match found, provide specs, price, AND product link (REQUIRED)\n- Prioritize collecting name and email early\n\n## CRITICAL: Vehicle Year Rules\n- When a customer mentions a vehicle WITHOUT the year, ALWAYS ask for the year first\n- Say: \"What year is your [vehicle]?\"\n- EXCEPTION: If customer mentions GENERATION (e.g., \"5th Gen\", \"6th Gen\"), treat it as year known:\n  - RAV4 5th Gen = 2019+\n  - 4Runner 5th Gen = 2010+\n  - Outback 6th Gen = 2020+\n  - Wrangler JL/JLU = 2018+\n  In these cases, proceed directly with Product Lookup Tool\n\n## CRITICAL: Always Use Product Lookup Tool\n- ALWAYS call Product Lookup Tool for ANY product-related question including:\n  - \"Do you have anything for [vehicle]\" - MUST call tool\n  - Dimensions, specifications, installation - MUST call tool\n  - Price questions - MUST call tool\n  - Shipping/delivery cost questions - MUST call tool\n  - Accessory questions - MUST call tool\n  - Weight questions - MUST call tool\n  - Warranty questions - MUST call tool\n  - Return policy questions - MUST call tool\n- NEVER answer product questions from memory\n\n## CRITICAL: Display Prices Upfront\n- When Product Lookup Tool returns price info, ALWAYS share it with the customer\n- Include base price and finish options (e.g., \"Starts at $795, or $895 with premium black carpeting\")\n- For accessories, mention prices (e.g., \"You can add a lock kit for $30, USB light for $13\")\n- For shipping: Show actual per-product shipping costs from the tool\n- Do NOT hide prices or say \"I'll send you the price breakdown via email\"\n- Prices help customers make decisions - share them!\n\n## CRITICAL: Markdown Link Formatting\n- ALWAYS format links using Markdown: [Link Text](url)\n- NEVER paste raw URLs\n\n## CRITICAL: List ALL Products\n- When the Product Lookup Tool returns multiple products, list EVERY product with its link\n- Each product should have its own bullet point with a markdown link\n\n## CRITICAL: Never Say \"Can't\", \"No Match\", or \"Not Found\"\n- If Product Lookup Tool returns NO_PRODUCT_FOUND:\n  - Say: \"We've got a few options for [vehicle]. Drop your email and I'll send you the details.\"\n\n## Conversational Style\n- Use contractions: \"I'll\", \"you're\", \"we've\"\n- Keep responses SHORT (under 80 words when possible)\n- Use casual starters: \"Yeah\", \"Got it!\", \"Sure thing!\"\n- NEVER use em-dashes\n\n## Company Info\n- Phone: (866) 665-1911\n- Email: help@wheelsfeels.com\n- Location: Houston, TX\n- Free US Shipping (mainland)\n\n## Production & Shipping\n- Standard lead time: 3-5 weeks\n- Expedited options: 20 days (+$100) or 10 days (+$250)\n- Free shipping in mainland US\n\n## Returns & Refunds\n- Direct to help@wheelsfeels.com\n\n## Example Responses\n\nUser: \"Do you have anything for a Tacoma?\"\nAnton: \"Yeah! What year is your Tacoma?\"\n\nUser: \"2022\"\nAnton: \"Got it! For your Tacoma, we've got the Cargo Drawer system starting at $795. [Check it out here](url). Drop your email and I'll send you photos and videos.\"\n\nUser: \"How much to ship to Hawaii?\"\nAnton: \"Free shipping to mainland US. For Hawaii it's $250 extra. Drop your email and I'll send you all the details.\"",
          "returnIntermediateSteps": true
        }
      }
    },
    {
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [240, 112],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {
          "temperature": 0.7
        }
      }
    },
    {
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [368, 112],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId.startsWith('eval-') ? $json.sessionId + '-' + $execution.id : $json.sessionId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "product-lookup-tool",
      "name": "Product Lookup Tool",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [496, 112],
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a product lookup tool for WheelsFeels. Your job is to match customer vehicles to products using the database tools.\n\n**HOW TO SEARCH:**\n1. Extract vehicle details from the input: year, make, model, doors, variant\n2. Call Find Vehicle Generation tool to get the generation code\n3. Call Search Products by Generation tool with the generation code\n4. Extract ALL relevant data from each product:\n   - dimensions: From accordion_items \"Dimensions, Weight, and Limits\"\n   - installation: From descriptions array\n   - price: From unit_prices (base_price and variants)\n   - delivery: From delivery_options (shipping costs per region)\n   - accessories: From product_options (add-on items with prices)\n   - warranty: From accordion_items \"Delivery & Returns\" (look for warranty info)\n   - returns: From accordion_items \"Delivery & Returns\" (7 days, new condition)\n5. Return ALL matching products with complete data\n\n**CRITICAL: MODEL NAME NORMALIZATION**\nBefore querying, normalize model names to match database:\n- RAV4 (always uppercase, not Rav4 or rav4)\n- 4Runner (exact case)\n- GX, LX (uppercase for Lexus)\n- Wrangler, Gladiator (capitalize first letter)\n- Outback, Forester (capitalize first letter)\n\n**MODEL NAME STRIPPING:**\nStrip trims/variants: Wilderness, TRD Pro, Limited, Rubicon, Prime, Hybrid, 4xe\nLEXUS: GX460->GX, LX570->LX\nBMW: 530i->5-series\n\n**GENERATION TO YEAR MAPPING:**\nIf customer mentions generation instead of year, use these mappings:\n- RAV4 5th Gen = 2019-2024, use year 2022\n- 4Runner 5th Gen = 2010-2024, use year 2020\n- Outback 6th Gen = 2020-2024, use year 2022\n- Wrangler JL/JLU = 2018-2024, use year 2020\n\n**OUTPUT FORMAT:**\n{\"status\": \"PRODUCTS_FOUND\", \"products\": [{\"name\": \"...\", \"url\": \"...\", \"price\": \"$795\", \"price_variants\": \"...\", \"dimensions\": \"...\", \"installation\": \"...\", \"delivery\": {\"mainland_usa\": \"Free\", \"alaska\": \"$250\", \"hawaii\": \"$250\", \"canada\": \"$189\"}, \"accessories\": \"USB light $13, Lock kit $30...\", \"warranty\": \"1-year warranty from manufacturing defects\", \"returns\": \"7 days, items must be in new condition\"}], \"notes\": \"...\"}"
        }
      }
    },
    {
      "id": "openai-model-2",
      "name": "OpenAI Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [384, 320],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {
          "temperature": 0
        }
      }
    },
    {
      "id": "find-vehicle-generation",
      "name": "Find Vehicle Generation",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [512, 320],
      "parameters": {
        "operation": "getAll",
        "tableId": "vehicle_generations",
        "limit": 5,
        "filterType": "string",
        "filterString": "={{ 'brand=eq.' + $fromAI('brand', 'Vehicle brand e.g. Subaru, Toyota, Jeep') + '&model_base=eq.' + $fromAI('model', 'Base model name WITHOUT trim e.g. Outback, 4Runner, Wrangler') + '&year_from=lte.' + $fromAI('year', 'Vehicle year as integer e.g. 2020') + '&year_to=gte.' + $fromAI('year', 'Vehicle year as integer e.g. 2020') }}"
      }
    },
    {
      "id": "search-products",
      "name": "Search Products by Generation",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [640, 320],
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "limit": 10,
        "filterType": "string",
        "filterString": "={{ 'car_models=cs.[{\"brand\":\"' + $fromAI('brand', 'Vehicle brand e.g. Subaru, Toyota') + '\",\"model\":\"' + $fromAI('generation_code', 'Generation code from find_vehicle_generation e.g. Outback 6th Gen') + '\"}]' }}"
      }
    },
    {
      "id": "eval-trigger",
      "name": "Evaluation Trigger",
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [0, -208],
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "1JClbNIx5HzN1Kt4L3voHF229eSYUETTO2zkGdWoUOLc",
          "mode": "list",
          "cachedResultName": "Test chatbot new"
        },
        "sheetName": {
          "__rl": true,
          "value": 1003179210,
          "mode": "list",
          "cachedResultName": "Chat Evaluation"
        }
      }
    },
    {
      "id": "check-if-eval",
      "name": "Check If Evaluating",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [864, -112],
      "parameters": {
        "operation": "checkIfEvaluating"
      }
    },
    {
      "id": "set-metrics",
      "name": "Set Metrics",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [1088, -112],
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('Evaluation Trigger').item.json.expected_response }}",
        "actualAnswer": "={{ $('AI Agent').item.json.output }}",
        "prompt": "=You are an expert factual evaluator assessing the accuracy of answers compared to established ground truths.\n\nEvaluate the factual correctness of a given output compared to the provided ground truth on a scale from 1 to 5. Use detailed reasoning to thoroughly analyze all claims before determining the final score.\n\n# Scoring Criteria\n\n- 5: Highly similar - The output and ground truth are nearly identical, with only minor, insignificant differences.\n- 4: Somewhat similar - The output is largely similar to the ground truth but has few noticeable differences.\n- 3: Moderately similar - There are some evident differences, but the core essence is captured in the output.\n- 2: Slightly similar - The output only captures a few elements of the ground truth and contains several differences.\n- 1: Not similar - The output is significantly different from the ground truth, with few or no matching elements.\n\n# Evaluation Steps\n\n1. Identify and list the key elements present in both the output and the ground truth.\n2. Compare these key elements to evaluate their similarities and differences, considering both content and structure.\n3. Analyze the semantic meaning conveyed by both the output and the ground truth, noting any significant deviations.\n4. Consider factual accuracy of specific details, including names, dates, numbers, and relationships.\n5. Assess whether the output maintains the factual integrity of the ground truth, even if phrased differently.\n6. Determine the overall level of similarity and accuracy according to the defined criteria.\n\n# Output Format\n\nProvide:\n- A detailed analysis of the comparison (extended reasoning)\n- A one-sentence summary highlighting key differences (not similarities)\n- The final similarity score as an integer (1, 2, 3, 4, or 5)\n\nAlways follow the JSON format below and return nothing else:\n{\n  \"extended_reasoning\": \"<detailed step-by-step analysis of factual accuracy and similarity>\",\n  \"reasoning_summary\": \"<one sentence summary focusing on key differences>\",\n  \"score\": <number: integer from 1 to 5>\n}\n\n# Examples\n\n**Example 1:**\n\nInput:\n- Output: \"The cat sat on the mat.\"\n- Ground Truth: \"The feline is sitting on the rug.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"I need to compare 'The cat sat on the mat' with 'The feline is sitting on the rug.' First, let me identify the key elements: both describe an animal ('cat' vs 'feline') in a position ('sat' vs 'sitting') on a surface ('mat' vs 'rug'). The subject is semantically identical - 'cat' and 'feline' refer to the same animal. The action is also semantically equivalent - 'sat' and 'sitting' both describe the same position, though one is past tense and one is present continuous. The location differs in specific wording ('mat' vs 'rug') but both refer to floor coverings that serve the same function. The basic structure and meaning of both sentences are preserved, though they use different vocabulary and slightly different tense. The core information being conveyed is the same, but there are noticeable wording differences.\",\n  \"reasoning_summary\": \"The sentences differ in vocabulary choice ('cat' vs 'feline', 'mat' vs 'rug') and verb tense ('sat' vs 'is sitting').\",\n  \"score\": 3\n}\n\n**Example 2:**\n\nInput:\n- Output: \"The quick brown fox jumps over the lazy dog.\"\n- Ground Truth: \"A fast brown animal leaps over a sleeping canine.\"\n\nExpected Output:\n{\n  \"extended_reasoning\": \"I need to compare 'The quick brown fox jumps over the lazy dog' with 'A fast brown animal leaps over a sleeping canine.' Starting with the subjects: 'quick brown fox' vs 'fast brown animal'. Both describe the same entity (a fox is a type of animal) with the same attributes (quick/fast and brown). The action is described as 'jumps' vs 'leaps', which are synonymous verbs describing the same motion. The object in both sentences is a dog, described as 'lazy' in one and 'sleeping' in the other, which are related concepts (a sleeping dog could be perceived as lazy). The structure follows the same pattern: subject + action + over + object. The sentences convey the same scene with slightly different word choices that maintain the core meaning. The level of specificity differs slightly ('fox' vs 'animal', 'dog' vs 'canine'), but the underlying information and imagery remain very similar.\",\n  \"reasoning_summary\": \"The sentences use different but synonymous terminology ('quick' vs 'fast', 'jumps' vs 'leaps', 'lazy' vs 'sleeping') and varying levels of specificity ('fox' vs 'animal', 'dog' vs 'canine').\",\n  \"score\": 4\n}\n\n# Notes\n\n- Focus primarily on factual accuracy and semantic similarity, not writing style or phrasing differences.\n- Identify specific differences rather than making general assessments.\n- Pay special attention to dates, numbers, names, locations, and causal relationships when present.\n- Consider the significance of each difference in the context of the overall information.\n- Be consistent in your scoring approach across different evaluations.",
        "options": {}
      }
    },
    {
      "id": "openai-model-metrics",
      "name": "OpenAI Chat Model (Metrics)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1152, 112],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0
        }
      }
    },
    {
      "id": "set-outputs",
      "name": "Set Outputs",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [1440, -112],
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "1JClbNIx5HzN1Kt4L3voHF229eSYUETTO2zkGdWoUOLc",
          "mode": "list",
          "cachedResultName": "Test chatbot new"
        },
        "sheetName": {
          "__rl": true,
          "value": 1003179210,
          "mode": "list",
          "cachedResultName": "Chat Evaluation"
        },
        "outputs": {
          "values": [
            {
              "outputName": "actual_response",
              "outputValue": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "outputName": "actual_tools_used",
              "outputValue": "={{ $('AI Agent').item.json.intermediateSteps ? $('AI Agent').item.json.intermediateSteps.map(s => s.action.tool).join(', ') : '' }}"
            },
            {
              "outputName": "response_quality",
              "outputValue": "={{ $json.Correctness }}"
            },
            {
              "outputName": "tools_correct",
              "outputValue": "={{ (() => { const expected = ($('Evaluation Trigger').item.json.expected_tools || '').toLowerCase().trim(); const actual = ($('AI Agent').item.json.intermediateSteps ? $('AI Agent').item.json.intermediateSteps.map(s => s.action.tool).join(', ') : '').toLowerCase().trim(); if (!expected && !actual) return 'YES'; if (!expected && actual) return 'NO (unexpected tool)'; if (expected && !actual) return 'NO (missing tool)'; return expected === actual ? 'YES' : 'PARTIAL'; })() }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {"node": "AI Agent", "type": "ai_memory", "index": 0},
          {"node": "Chat Trigger", "type": "ai_memory", "index": 0}
        ]
      ]
    },
    "Product Lookup Tool": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "OpenAI Chat Model 2": {
      "ai_languageModel": [[{"node": "Product Lookup Tool", "type": "ai_languageModel", "index": 0}]]
    },
    "Find Vehicle Generation": {
      "ai_tool": [[{"node": "Product Lookup Tool", "type": "ai_tool", "index": 0}]]
    },
    "Search Products by Generation": {
      "ai_tool": [[{"node": "Product Lookup Tool", "type": "ai_tool", "index": 0}]]
    },
    "Evaluation Trigger": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Check If Evaluating", "type": "main", "index": 0}]]
    },
    "Check If Evaluating": {
      "main": [[{"node": "Set Metrics", "type": "main", "index": 0}]]
    },
    "Set Metrics": {
      "main": [[{"node": "Set Outputs", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model (Metrics)": {
      "ai_languageModel": [[{"node": "Set Metrics", "type": "ai_languageModel", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
